# Ignore Python cache files
__pycache__/
*.pyc

# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env
# macOS system files
.DS_Store

# IDE configuration files
.idea/